<div class="has-bg-img bg-purple bg-blend-overlay sect1" id="sect1">
<div class="p-4">
    <div class="container">
        <h1 style="color: #000000; background-color: rgba(20, 20, 20, 0.096); width: fit-content;">Hi {{user.firstName}}!</h1>
        <p style="color: #000000; text-decoration: solid; font-size: larger; width: fit-content; background-color: rgba(20, 20, 20, 0.096); ">You're logged in with Smart Surveillance System for Anomaly Behavior!!</p>

    </div>
    
</div>

<div class="p-1" style="width:100%; height: 430px;">
</div>
</div>
